body {
	align-content: center;
	box-sizing: border-box;
	background: linear-gradient(135deg, #7ad, #7d9) fixed;
}
#mainTitle {
	background-color: #02b3e4;
}
#centreRow {
	background-image: url(../img/graphicCode.png);
}
.lineBreak {
	max-width: 740px;
	color: #2d3c49;
	line-height: 10px;
}
.container {
	align-content: center;
}
.row {
	align-items: center;
}
.card {
	background-color: azure;
	margin: 10px;
	border: 1px solid #ccc;
	box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
	text-align: center;
}
.card img {
	padding-top: 5px;
	max-width: 100%;
}
.card .text {
	padding: 0 20px 20px;
}
.card .text>button {
	background: #2d3c49;
	border: 0;
	color: white;
	padding: 10px;
	width: 75%;
}